.container {
  height: 100%;
  min-height: 95vh;
  width: 100%;
  background: linear-gradient(to right, black, white);
  display: flex;
  justify-content: center;
  align-items: center;

}

.innerBox {
  min-width: 480px;
  height: fit-content;
  width: fit-content;
  background-color: rgb(122, 121, 121);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  padding-top: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.7;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}

.btn {
  outline: none;
  border: none;
  /* background-color: #1d9de3; */
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.head2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(8, 42, 61);
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
  /* animation: color-change 5s infinite; */
  color: black;
}

@keyframes color-change {
  0% {
    color: blue;
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: blue;
  }

  50% {
    color: #34495e;
  }

  60% {
    color: blue;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}

.footer button:disabled {
  background-color: gray !important;
}

.footer button:hover {
  background-color: black;
  color: white;
}

.footer p {
  font-weight: 700;
  color: #000;
}

.footer p span a {
  font-weight: bold;
  color: #1d9de3;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
}

.center {
  text-align: center;
}

.loginwithgooglebtn {
  transition: background-color .3s, box-shadow .3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #393939;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(207, 207, 207);
  background-repeat: no-repeat;
  background-position: 130px 11px;
}


@media (max-width: 650px) {

  .innerBox {
    min-width: min-content;
    /* max-width: 500px; */
    /* width: 90%; */
  }

  .footer p {
    font-size: medium;
    font-weight: 600;
  }

  .footer p span a {

    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  .loginwithgooglebtn {
    background-position: 20px 11px;
  }
}

.grey1 {
  color: darkgray;
}